<div class="row portf">

  <h2 id="centermobile">My Portfolio</h2>

  <br /><br /><br /><br />

  <div class="row des fixlandscape">
    <br /><br />
    <h4 class="portfolioTitle">DEVELOPMENT</h4>
    <hr style="width: 30%">
    <br />
    <div class="col-md-4"></div>
    <div class="col-md-4 thumbrow">
      <div class="col-md-3">
        <span class="pseudolink" onclick="window.open('http://grokkit.herokuapp.com/')"><img src="images/thumbs/web/grokkit_thumb-01.jpg" class="thumb"/></span>
      </div>
      <div class="col-md-3">
        <span class="pseudolink" onclick="window.open('http://www.gryphonseye.com')"><img src="images/thumbs/web/tge.png" class="thumb"/></span>
      </div>
      <div class="col-md-3">
        <span class="pseudolink" onclick="window.open('https://road-trip-gasoline.firebaseapp.com/')"><img src="images/thumbs/web/roadtrip_thumb-01.jpg" class="thumb"/></span>
      </div>
      <div class="col-md-3">
        <span class="pseudolink" onclick="window.open('http://sunrise-equine.com/#/')"><img src="images/thumbs/web/sunrise_thumb.png" class="thumb"/></span>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="row des">
    <div class="col-md-4"></div>
    <div class="col-md-4 thumbrow">
      <div class="col-md-3">
        <span class="pseudolink" onclick="window.open('http://lavishsalonoldtown.com/#/')"><img src="images/thumbs/web/lavish.png" class="thumb"/></span>
      </div>

    </div>
  </div>

  <br /><br /><br /><br />

  <div class="row des">
    <br /><br />
    <h4 class="portfolioTitle">ILLUSTRATION</h4>
    <hr style="width: 30%">
    <br />
    <div class="col-md-4"></div>
    <div class="col-md-4 thumbrow">
      <div class="col-md-3 gallery">
        <a href="images/illustration/cyrstal.jpg"><img src="images/thumbs/illustration/cyrstal_thumb-01.jpg" class="thumb"/></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/illustration/dechia-matt.jpg"><img src="images/thumbs/illustration/dechia-matt_thumb-01.jpg" class="thumb"/></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/illustration/img_9.jpg"><img src="images/thumbs/illustration/img_9_thumb-01.jpg" class="thumb"/></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/illustration/jon&ygrittecolor.jpg"><img src="images/thumbs/illustration/jon&ygrittecolor_thumb-01.jpg" class="thumb"/></a>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="row des">
    <div class="col-md-4"></div>
    <div class="col-md-4 thumbrow">
      <div class="col-md-3 gallery">
        <a href="images/illustration/12.jpg"><img src="images/thumbs/illustration/Morris.Jessica_GraphicDesigner_CSU_0815_Portfolio-02_thumb-01.jpg" class="thumb" /></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/illustration/Morris.Jessica_GraphicDesigner_CSU_0815_Portfolio-04.jpg"><img src="images/thumbs/illustration/Morris.Jessica_GraphicDesigner_CSU_0815_Portfolio-04_thumb-01.jpg" class="thumb" /></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/illustration/sequence.jpg"><img src="images/thumbs/illustration/sequence_thumb-01.jpg" class="thumb" /></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/illustration/Whislers_final_color.jpg"><img src="images/thumbs/illustration/Whislers_final_color_thumb-01.jpg" class="thumb" /></a>
      </div>

    </div>
  </div>


  <br /><br /><br /><br />

  <div class="row des">
    <br /><br /><br /><br />
    <h4 class="portfolioTitle" id="titledesign">DESIGN</h4>
    <hr style="width: 30%">
    <br />
    <div class="col-md-4"></div>
    <div class="col-md-4 thumbrow">
      <div class="col-md-3 gallery">
        <a href="images/design/banner_1_0214.jpg"><img src="images/thumbs/design/banner_1_0214_thumb-01.jpg" class="thumb"/></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/design/csu_0713_tshirt_placement_vf.jpg"><img src="images/thumbs/design/csu_0713_tshirt_placement_vf_thumb-01.jpg" class="thumb"/></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/design/fccc_construction_entrancesign_0514_jm_rd3.jpg"><img src="images/thumbs/design/fccc_construction_entrancesign_0514_jm_rd3_thumb-01.jpg" class="thumb"/></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/design/wp_costcoconnection_canada_0114_vertical_english_rdf-01.jpg"><img src="images/thumbs/design/wp_costcoconnection_canada_0114_vertical_english_rdf-01_thumb-01-01.jpg" class="thumb"/></a>
      </div>
    </div>

  </div>

  <br /><br />

  <div class="row des">
    <div class="col-md-4"></div>
    <div class="col-md-4 thumbrow">
      <div class="col-md-3 gallery">
        <a href="images/design/Morris.Jessica_GraphicDesigner_CSU_0815_Portfolio-01-01.jpg"><img src="images/thumbs/design/Morris.Jessica_GraphicDesigner_CSU_0815_Portfolio-01_thumb-01.jpg" class="thumb" /></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/design/Morris.Jessica_GraphicDesigner_CSU_0815_Portfolio-07-01.jpg"><img src="images/thumbs/design/Morris.Jessica_GraphicDesigner_CSU_0815_Portfolio-07_thumb-01.jpg" class="thumb" /></a>
      </div>
      <div class="col-md-3 gallery">
        <a href="images/design/storyline_tshirt_F_LR.jpg"><img src="images/thumbs/design/storyline_tshirt_F_LR_thumb-01.jpg" class="thumb" /></a>
      </div>

    </div>
  </div>

  <br /><br /><br /><br />




  <p id="footer">© JAM Creations – Do not reproduce without permission</p>

</div>
