<header class="row" id="topofpage">

  <div class="col-md-2">
    <div class="navbar">
      <ul>
        <a href="#topofpage"><li>HOME</li></a>
        <a href="#about"><li>ABOUT ME</li></a>
        <a href="#portfolio"><li>MY PORTFOLIO</li></a>
        <!-- <li class="theicons"><a href="https://github.com/jMorris26"><img src="images/github.svg" class="icon" id="giticon"/></a> <a href="https://www.linkedin.com/in/jmorris26"><img src="images/linkedin.png" class="icon" id="linkicon"/></a></li> -->
      </ul>

    </div>
  </div>


  <div class="row">

    <div class="col-md-12">
      <h1>Jess Morris<br />
        <div class="row">

          <div class="col-md-12 words">
            <div class="col-md-3 alt3">
              <span class="tagline">Illustrator</span>
            </div>
            <div class="col-md-1">
              <span class="glyphicon glyphicon-grain"></span>
            </div>
            <div class="col-md-4 alt4">
              <span class="tagline">Developer</span>
            </div>
            <div class="col-md-1">
              <span class="glyphicon glyphicon-grain"></span>
            </div>
            <div class="col-md-3 alt3">
              <span class="tagline">Designer</span>
            </div>
          </div>
        </div></h1>
    </div>
  </div>

</header>


<a id="about">
  <div class="row">

    <!-- <img src="images/facepic.jpg" class="facepic"/> -->
    <div class="col-md-4"></div>
    <div class="col-md-4 aboutcontent">
      <h2>About Me</h2><br /><br />
      <hr>
      <br /><br />
      <p>
        Every day I am amazed by the possibilities available to us through programming. With a background in graphic design and an insatiable need to draw, I have an eye for detail that translates to my code. <br /><br />I am an eager learner and a constant perfectionist; I love problem-solving challenges and beautiful design. <br /><br />When I'm not in front of a computer I can be found riding my horses or running alongside my donkey.
        <div class="col-md-4"></div>
        <div class="col-md-4 iconlinks">
          <span class="pseudolink" onclick="window.open('https://github.com/jmorrisart')"><img src="images/github-white.png" id="git"  /></span>
          <span class="pseudolink" onclick="window.open('https://www.linkedin.com/in/jmorrisart')"><img src="images/linkedin-xxl.png" id="li"/></span>
        </div>
      </p>

    </div>
    <div class="col-md-4">
      <img src="images/me_coffee_bfjeans.png" class="mecoffee"/>
    </div>

  </div>
  </a>

<a id="portfolio"></a>

  <galleryimages></galleryimages>
