
<div id="madwire">
  <div class="row">
    <h1>Madwire</h1>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <img src="images/me/me.jpg" class="meperson"/>
    </div>
  </div>

  <div class="row whyme">
    <hr ><br />
    <p>Josh, thank you so much for considering me for the position of website front end developer! I am so excited for the opportunity to work at Madwire.<br /><br /> My time at Galvanize was more like being a working junior web developer than a student. We were immersed in code from day one; our group projects taught us effective communication as well as utilizing Git to maintain version control.<br />My experience as a graphic designer and my fluency in the Adobe Creative Suite gives me a clearer insight when communicating with design teams. <br /><br />I really feel that my unique set of skills, coupled with my ability to think outside of the box & passion for solving problems and challenges will make me an excellent fit at Madwire. I look forward to addressing any questions you may have!<br /><br /><br />970-286-9966<br />jess@jessmorrisart.com</p>
  </div>

</div>
