
<div id="zayo">
  <div class="row">
    <h1 id="zthanks">Zayo: Thank you!</h1>
  </div>

  <div class="row whyme">
    <hr style="width:100%;"><hr ><br /><br /><br />
    <p>Nick & Russ, thank you both so much for taking the time to meet with me! I am so excited for the opportunity to work for such a wonderful company.<br /><br />I really feel that my unique set of skills, coupled with my ability to think outside of the box and passion for solving problems and challenges will make me an excellent fit at Zayo. I look forward to hearing from you soon!<br /></p>

      <div class="zayoleft">
        <img src="images/me/mebw.jpg" class="meperson"/>
      </div>

      <div class="zayoright">
        <br /><p class="contactinfo">970-286-9966<br />jess@jessmorrisart.com</p>
      </div>

    <br /><br /><hr style="margin-top:3em;"><hr style="width:100%;"><br />
  </div>

</div>
